{template header}

<script src="js/datetime.js"></script>

<ol class="nav">
    <li><a href="admin.php">管理面板</a></li>
    <li>预约</li>
</ol>

<div class="box list">
    <h4>预约列表</h4>

    <form class="quick_search" action="admin.php">
        <input type="hidden" name="mod" value="$mod">
        <!--{if !empty($userid)}-->
        <input type="hidden" name="userid" value="$userid">
        <!--{/if}-->
        <!--{if !empty($deviceid)}-->
        <input type="hidden" name="deviceid" value="$deviceid">
        <!--{/if}-->
        <dl>
            <dt>状态：</dt>
            <dl>
                <!--{loop Reservation::$Status $statusid $value}-->
                {echo Template::checkbox('status['.$statusid.']', $value)}
                <!--{/loop}-->
            </dl>
            <dt>时间：</dt>
            <dl>
                <input type="text" class="datetime" name="time_start" value="$time_start" autocomplete="off"> ~
                <input type="text" class="datetime" name="time_end" value="$time_end" autocomplete="off">
            </dl>
        </dl>
        <button type="submit">查找</button>
    </form>

    <table id="device-list">
        <thead>
            <tr>
                <th></th>
                <td>设备</td>
                <td>预约人</td>
                <td>状态</td>
                <td>预约日期</td>
                <td>预约时间</td>
                <td>样品数量</td>
                <td>样品描述</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
        <!--{loop $reservations $r}-->
            <tr data-primaryvalue="$r[id]">
                <th></th>
                <td><a href="$mod_url&deviceid=$r[deviceid]">$r[devicename]</a></td>
                <td><a href="$mod_url&userid=$r[userid]"><!--{if $r['realname']}-->$r[realname]<!--{else}-->$r[account]<!--{/if}--></a></td>
                <td>{echo Reservation::$Status[$r['status']]}</td>
                <td>{echo rdate($r['time_start'], 'm月d日')}</td>
                <td>{echo rdate($r['time_start'], 'H')}时 - {echo rdate($r['time_end'], 'H')}时</td>
                <td>$r[sample_number]</td>
                <td>$r[sample_description]</td>
                <td>
                    <!--{if empty($r['devicedeleted']) && $r['status'] != Reservation::Accepted}-->
                    <a href="$mod_url&action=accept&id=$r[id]" class="toast">[接受]</a>
                    <!--{/if}-->
                    <!--{if $r['status'] != Reservation::Rejected}-->
                    <a href="$mod_url&action=reject&id=$r[id]" class="toast">[拒绝]</a>
                    <!--{/if}-->
                </td>
            </tr>
        <!--{/loop}-->
        </tbody>
    </table>
</div>

{echo Template::mpage($totalnum, $page, $limit, $mod_url.$query_string)}

{template footer}
