{template header}

<ol class="nav">
    <li><a href="admin.php">管理面板</a></li>
    <li>预约</li>
</ol>

<div class="box list">
    <h4>预约列表</h4>

    <table id="device-list">
        <thead>
            <tr>
                <th></th>
                <td>设备</td>
                <td>预约人</td>
                <td>状态</td>
                <td>预约日期</td>
                <td>预约时间</td>
                <td>样品数量</td>
                <td>样品描述</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
        <!--{loop $reservations $r}-->
            <tr data-primaryvalue="$r[id]">
                <th></th>
                <td>$r[devicename]</td>
                <td><!--{if $r['realname']}-->$r[realname]<!--{else}-->$r[account]<!--{/if}--></td>
                <td>{echo Reservation::$Status[$r['status']]}</td>
                <td>{echo rdate($r['time_start'], 'm月d日')}</td>
                <td>{echo rdate($r['time_start'], 'H')}时 - {echo rdate($r['time_end'], 'H')}时</td>
                <td>$r[sample_number]</td>
                <td>$r[sample_description]</td>
                <td>
                    <!--{if empty($r['devicedeleted']) && $r['status'] != Reservation::Accepted}-->
                    <a href="$mod_url&action=accept&id=$r[id]" class="toast">[接受]</a>
                    <!--{/if}-->
                    <!--{if $r['status'] != Reservation::Rejected}-->
                    <a href="$mod_url&action=reject&id=$r[id]" class="toast">[拒绝]</a>
                    <!--{/if}-->
                </td>
            </tr>
        <!--{/loop}-->
        </tbody>
    </table>
</div>

{template footer}
