{template header}

<style>
@import url(3rdparty/datetimepicker/jquery.datetimepicker.css);

.hourspan{
    margin-bottom: 30px;
}

.hourspan > div{
    width: 3.5em;
    height: 2em;
    line-height: 2em;
    display: inline-block;
    margin: 4px;
    text-align: center;
    cursor: pointer;
    color: white;
    background: #5cb48e;
}

.hourspan > div.selected{
    background: #b85b53;
}

.hourspan > div.disabled{
    background: #dddddd;
    cursor: not-allowed;
}

</style>
<script>
var reservations = {echo json_encode($reservations)};
var today = '{echo rDate(TIMESTAMP, 'Y/m/d')}';
</script>
<script src="3rdparty/datetimepicker/jquery.datetimepicker.min.js"></script>
<script src="{__MODULE_ROOT__}view/js/add.js"></script>

<div class="col-md-9 col-sm-12 content-holder">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="box-content">
                <form class="toast" action="index.php?mod=reservation:add&deviceid=$deviceid" method="post">
                    <h3 class="widget-title">预约设备 - $d[name]</h3>
                    <ul class="device-detail">
                        <li><span>型号</span>$d[model]</li>
                        <li><span>状态</span>{echo Device::$Status[$d['status']]}</li>
                        <li><span>地点</span>$d[location]</li>
                        <li><span>管理员</span>$d[admin]</li>
                    </ul>
                    <br>
                    <h3 class="widget-title">预约时间</h3>
                    <fieldset>
                        <input type="text" id="month-date">
                        <input type="hidden" id="month" name="month" autocomplete="off">
                        <input type="hidden" id="date" name="date" autocomplete="off">
                    </fieldset>
                    <fieldset>
                        <input type="hidden" id="hourspan">
                        <input type="hidden" id="hour_start" name="hour_start" autocomplete="off">
                        <input type="hidden" id="hour_end" name="hour_end" autocomplete="off">
                    </fieldset>
                    <fieldset>
                        <input type="text" name="sample_number" placeholder="请输入样品数量">
                    </fieldset>
                    <fieldset>
                        <textarea name="sample_description" placeholder="请输入样品描述"></textarea>
                    </fieldset>
                    <fieldset>
                        <input id="confirm-button" class="button" value="确认预约" type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="box-content">
                <h3 class="widget-title">温馨提示</h3>
                <p><!--{if !empty($d['kindly_reminder'])}-->$d[kindly_reminder]<!--{else}-->无<!--{/if}--></p>
            </div>
        </div>
    </div>
</div>

{template footer}
