				<div class="col-md-3 hidden-sm">

					<nav id="nav" class="main-navigation hidden-xs hidden-sm">
						<ul class="main-menu">
							<li>
								<a class="homebutton" href="index.php?mod=device"><i class="fa fa-home"></i>设备列表</a>
							</li>
							<li>
								<a class="projectbutton" href="index.php?mod=reservation"><i class="fa fa-book"></i>预约情况</a>
							</li>
							<li>
							<!--{if $_G['user']->isLoggedIn()}-->
								<a class="aboutbutton" href="index.php?mod=user"><i class="fa fa-user"></i>我的信息</a>
							<!--{else}-->
								<a class="aboutbutton" href="index.php?mod=user:login"><i class="fa fa-user"></i>登录注册</a>
							<!--{/if}-->
							</li>
							<li>
								<a class="contactbutton" href="index.php?mod=contactus"><i class="fa fa-envelope"></i>联系我们</a>
							</li>
						</ul>
					</nav>

				</div>
			</div>
		</div>

        <!-- SITE-FOOTER -->
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright &copy; 2015 - {echo rdate(TIMESTAMP, 'Y')}, 杭州星庐科技有限公司</p>
                    </div>
                </div>
            </div>
        </div> <!-- .site-footer -->

        <script src="{__TEMPLATE_ROOT__}js/plugins.js"></script>
        <script src="{__TEMPLATE_ROOT__}js/main.js"></script>
    </body>
</html>
