<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>$_CONFIG[sitename]</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{__TEMPLATE_ROOT__}css/normalize.css">
<link rel="stylesheet" href="{__TEMPLATE_ROOT__}css/font-awesome.css">
<link rel="stylesheet" href="{__TEMPLATE_ROOT__}css/bootstrap.min.css">
<link rel="stylesheet" href="{__TEMPLATE_ROOT__}css/templatemo-style.css">
<script src="{__TEMPLATE_ROOT__}js/vendor/modernizr-2.6.2.min.js"></script>
</head>
    <body>
        <div class="site-bg"></div>
        <div class="site-bg-overlay"></div>

        <!-- TOP HEADER -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="phone-info">$_CONFIG[sitename]</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-dribbble"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .top-header -->

		<div class="visible-xs visible-sm responsive-menu">
			<a href="#" class="toggle-menu">
				<i class="fa fa-bars"></i> 主菜单
			</a>
			<div class="show-menu">
				<ul class="main-menu">
					<li>
						<a class="show-1 active homebutton" href="index.php?mod=reservation"><i class="fa fa-home"></i>预约</a>
					</li>
					<li>
					<!--{if $_G['user']->isLoggedIn()}-->
						<a class="show-2 aboutbutton" href="index.php?mod=user"><i class="fa fa-user"></i>我的</a>
					<!--{else}-->
						<a class="show-2 aboutbutton" href="index.php?mod=user:login"><i class="fa fa-user"></i>登录</a>
					<!--{/if}-->
					</li>
					<li>
						<a class="show-3 projectbutton" href="index.php?mod=device"><i class="fa fa-camera"></i>设备</a>
					</li>
					<li>
						<a class="show-5 contactbutton" href="index.php?mod=contactus"><i class="fa fa-envelope"></i>关于我们</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="container" id="page-content">
			<div class="row">