{template header}

<div class="col-md-9 col-sm-12 content-holder box message">
	<h1>$_CONFIG[sitename] - 提示消息</h1>
	<p>$message</p>
	<!--{if $url_forward != 'confirm'}-->
		<!--{if !empty($url_forward)}-->
		<a href="$url_forward" target="_top">如果您的浏览器没有自动跳转，请点击这里</a>
		<script type="text/javascript">
		setTimeout('top.location.href="$url_forward";', 5 * 1000);
		</script>
		<!--{/if}-->
	<!--{else}-->
		<button type="button" onclick="top.location.href=location.href + (location.href.indexOf('?') ? '&' : '?') + 'confirm=true&confirm_key=$confirm_key';">确认</button>
		<button type="button" onclick="history.back();">取消</button>
	<!--{/if}-->
</div>

{template footer}
