{template header}

<script src="{__MODULE_ROOT__}view/js/login.js"></script>
<style>
.subscribe-text a{
	color: lightgoldenrodyellow;
}
</style>

<div class="col-md-9 col-sm-12 content-holder">
	<div id="menu-container">
		<div class="logo-holder logo-top-margin">
			<a href="#" class="site-brand"><img src="images/logo.png" alt=""></a>
		</div>

		<div id="menu-1" class="homepage home-section text-center">
			<div class="welcome-text">
				<h2>欢迎登录<strong>$_CONFIG[sitename]</strong>!</h2>
				<form id="login-form" action="index.php" method="post" class="toast standard-form">
					<div class="row">
						<fieldset class="col-md-offset-2 col-md-6">
							<input type="text" name="account" placeholder="请填写您的用户名或邮箱">
						</fieldset>
						<fieldset class="col-md-offset-2 col-md-6">
							<input type="password" id="password" name="password" placeholder="请填写您的密码" autocomplete="off">
							<input type="hidden" id="password2" name="password2" autocomplete="off">
						</fieldset>
						<fieldset class="col-md-offset-2 col-md-6 button-holder">
							<button name="mod" type="submit" class="button default" value="user:login" id="login-button">登录</button>
							<button name="mod" type="submit" class="button default" value="user:register" id="register-button">注册</button>
						</fieldset>
					</div>
					<p class="subscribe-text">若您忘记密码，可以<a href="index.php?mod=user:resetpassword">点击这里找回密码</a></p>
				</form>
			</div>
		</div>
	</div>
</div>

{template footer}
