{template header}

<div class="col-md-9 col-sm-12 content-holder">
	<div id="menu-container">
		<div class="logo-holder logo-top-margin">
			<a href="#" class="site-brand"><img src="images/logo.png" alt=""></a>
		</div>

		<div id="menu-1" class="homepage home-section text-center">
			<div class="welcome-text">
				<h2><strong>$_CONFIG[sitename]</strong></h2>
				<form id="login-form" action="index.php?mod=user:resetpassword&action=sendmail" method="post" class="toast standard-form">
					<div class="row">
						<fieldset class="col-md-offset-2 col-md-6">
							<input type="text" name="email" placeholder="请填写您的邮箱">
						</fieldset>
						<fieldset class="col-md-offset-2 col-md-6 button-holder">
							<button name="mod" type="submit" class="button default">找回密码</button>
						</fieldset>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{template footer}
