{template header}

<div class="col-md-9 col-sm-12 content-holder">
    <!-- CONTENT -->
    <div id="menu-container">
        <div class="content about-section" style="display: block;">
        <!--{loop $devices $d}-->
            <div class="col-md-6 col-sm-6">
                <a href="{if $d['status'] == Device::Normal}index.php?mod=reservation:add&deviceid=$d[id]{else}###{/if}">
                    <div class="box-content tile-button {if $d['status'] != Device::Normal}disabled{/if}">
                        <h3 class="widget-title">$d[name]</h3>
                        <ul class="device-detail">
                            <li><span>型号</span>$d[model]</li>
                            <li><span>状态</span>{echo Device::$Status[$d['status']]}</li>
                            <li><span>地点</span>$d[location]</li>
                            <li><span>管理员</span>$d[admin]</li>
                        </ul>
                    </div>
                </a>
            </div>
        <!--{/loop}-->
        </div>
    </div>
</div>

{template footer}
