{template header}

<ol class="nav">
    <li><a href="admin.php">管理面板</a></li>
    <li>用户</li>
</ol>

<div class="box list">
    <h4>用户列表</h4>

    <table id="user-list">
        <thead>
            <tr>
                <td>ID</td>
                <td>账号</td>
                <td>真实姓名</td>
                <td>邮箱</td>
                <td>注册时间</td>
                <td>用户组</td>
            </tr>
        </thead>
        <tbody>
        <!--{loop $users $u}-->
            <tr data-primaryvalue="$u[id]">
                <td>$u[id]</td>
                <td>$u[account]</td>
                <td>$u[realname]</td>
                <td>$u[email]</td>
                <td>{echo rdate($u['regtime'])}</td>
                <td>
                    <!--{if $u['groupid']}-->
                    正式 <a class="toast" href="$mod_url&action=ban&id=$u[id]">[踢出]</a>
                    <!--{else}-->
                    游客 <a class="toast" href="$mod_url&action=verify&id=$u[id]">[确认]</a>
                    <!--{/if}-->
                </td>
            </tr>
        <!--{/loop}-->
        </tbody>
    </table>
</div>

{template footer}
