{template header}

<ol class="nav">
    <li><a href="admin.php">管理面板</a></li>
    <li>用户</li>
</ol>

<div class="box list">
    <h4>用户列表</h4>

    <table id="user-list">
        <thead>
            <tr>
                <td>ID</td>
                <td>用户名</td>
                <td>注册时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
        <!--{loop $users $u}-->
            <tr data-primaryvalue="$u[id]">
                <td>$u[id]</td>
                <td>$u[account]</td>
                <td>{echo rdate($u['regtime'])}</td>
                <td></td>
            </tr>
        <!--{/loop}-->
        </tbody>
    </table>
</div>

{template footer}
